<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LdapConfiguration" type="LdapLib.Config.LdapConfiguration, LdapLib" />
  </configSections>
  <LdapConfiguration>
    <LdapSettings>
      <add server=""
           domain=""
           username=""
           password=""
           authenticationType="Secure"
           scope="Subtree" />
    </LdapSettings>
    <LdapContainerSettings>
      <add key ="" type="" path="" />
    </LdapContainerSettings>
  </LdapConfiguration>
</configuration>