<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LdapConfiguration" type="LdapLib.Config.LdapConfiguration, LdapLib"/>
  </configSections>
  <LdapConfiguration>
    <LdapSettings>
      <add server="" port="" domain="" username="" password="" userFilter="(&amp;(objectCategory=person)(objectClass=user))" groupFilter="(&amp;(objectClass=group))" useSSL="false" scope="Subtree"/>
    </LdapSettings>
  </LdapConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>